.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Sắp xếp Header và content theo chiều dọc */
}
.header {
    height: 120px;
}

.content {
    flex: 1; /* Để content chiếm toàn bộ không gian trống còn lại */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
