.vaccine-app {
    display: flex;
    flex-direction: row;
}

.vaccine-items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 16px;
}

/* Vaccine-item */
.vaccine-item {
    background: #fff;
    height: 190px;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.23s ease;
    box-shadow: 0 4px 30px rgba(149, 179, 207, 0.2);
    text-align: center;

    h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #1f3fdb;
        color: white;
        cursor: pointer;
        transition: background-color 0.2s;
    }
}

.vaccine-item:hover {
    border-color: #00b5f1 !important;
}

.vaccine-item button:hover {
    background-color: #1542b2;
}

.selected-button-vaccinItems {
    background-color: #4caf50 !important;
}

.info-vaccine-vaccinItems {
    text-align: initial;
}

/* vaccine-list */
.vaccine-list {
    flex: 2;

    background: #fff;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(116, 157, 206, 0.2);
}
.inner {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.vaccine-choose-header {
    display: flex;
    gap: 10px;

    h3 {
        color: #2a388f;
    }
}

.vaccine-choose-content {
    p {
        color: #ccc;
        font-weight: bold;
        margin: 5px;
    }
}
