.wrapper-DashboardLayout {
    height: 100%;
    // width: 100vw;
    display: flex;
    flex-direction: column; /* Sắp xếp Header và content theo chiều dọc */
    background: #fff;
}
.header {
}

.container-dashboard {
    flex: 1;
    width: 1110px;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    background-color: #fff;
}

.content {
    flex: 1;
    // width: 1150px;
}
